table {
    margin: auto;
    width: 50%;
}
td {
    padding: 5px;
    padding-bottom: 0;
    vertical-align: top;
    font-size: 14px;
    line-height: 18px;
}
code {
    white-space: pre;
}
td.code {
    background: lightgrey;
}
